<?xml version="1.0" ?>
<robot name="ground">
  <link name="ground">
    <visual>
      <geometry>
        <mesh filename="ground.obj" scale="2 2 0.1" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision concave="yes">
      <geometry>
        <mesh filename="ground.obj" scale="2 2 0.1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <contact>
      <lateral_friction value="1.0" />
      <rolling_friction value="0.0" />
    </contact>
  </link>
</robot>