<robot
  name="mri_no_person_collision">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.34116728716672 -0.172747929541256 -0.235915060959902"
        rpy="0 0 0" />
      <mass
        value="408.223560823748" />
      <inertia
        ixx="63.0467577458239"
        ixy="-1.31590891458722E-15"
        ixz="2.99154345203899E-15"
        iyy="24.9387277556166"
        iyz="0.0593952185763133"
        izz="77.2466474209327" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mri_no_person_collision/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mri_no_person_collision/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>