<robot
  name="mri_no_person">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.254819082481534 -0.251004359904097 0.174063834822127"
        rpy="0 0 0" />
      <mass
        value="3646.02252674796" />
      <inertia
        ixx="1912.95564485016"
        ixy="59.8521284447559"
        ixz="100.430254264645"
        iyy="1838.91491438042"
        iyz="-220.91896832815"
        izz="1968.0399637883" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mri_no_person/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mri_no_person/meshes/base_link_collision.STL" />
      </geometry>
    </collision>
  </link>
</robot>