<robot
  name="mri_person">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.340676492335249 -0.157192803490048 0.10849527729379"
        rpy="0 0 0" />
      <mass
        value="1346.95972552774" />
      <inertia
        ixx="75.3921536170352"
        ixy="0.00196032737986067"
        ixz="0.000265662191137197"
        iyy="15.276192352806"
        iyz="-0.508265413298332"
        izz="80.3681606410775" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mri_person/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mri_person/meshes/base_link_collision.STL" />
      </geometry>
    </collision>
  </link>
</robot>