<robot
  name="mri">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.281010606958558 0.158613203397296 0.244099174734378"
        rpy="0 0 0" />
      <mass
        value="5037.60072094931" />
      <inertia
        ixx="2034.51780876326"
        ixy="105.79577833775"
        ixz="-57.1483503922359"
        iyy="2100.26564746708"
        iyz="219.629851849134"
        izz="1879.68745453818" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/daniel/Desktop/robotPathPlanning/Python/mri/meshes/base_link_vhacd.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/daniel/Desktop/robotPathPlanning/Python/mri/meshes/base_link_vhacd.stl" />
      </geometry>
    </collision>
  </link>
</robot>